*{
  margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(236, 236, 236);
    text-decoration: none;
    letter-spacing: 0.5px;
}
body {
  background-image: url(../image/background.png);
  background-size: cover;
  height: 100vh;
}
p {
  font-size: 2em;
  text-align: center;
  backdrop-filter: blur();
  border-radius: 20px;
  width: 80%;
  justify-self: center;
  padding: 10px;
  backdrop-filter: blur(50px);
  box-shadow: rgb(0, 0, 0) 0 0 5px 0;
  
}
span{
  font-size: larger;
}
header {
  box-shadow: black 0 0 5px 0;
  padding: 20px;
  margin-bottom: 50px;
  backdrop-filter: blur(5px);
}

header span {
  display: block;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2.5em;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

header a {
  position: absolute;
  top: 30px;
  left: 60px;
  scale: 1.7;
  transition: 200ms;
}

header a:hover {
  scale: 2;
}
